<div class="container relative">
  <div
    class="position-absolute top-50 start-50 translate-middle w-50 border shadow bg-body-tertiary rounded p-4"
  >
    <% if(errorMessage) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <% errorMessage.forEach((error) => { %>
      <li><%= error.msg %></li>
      <%}) %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>
    <!--  -->
    <% if(successMessage) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <li><%= successMessage %></li>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>
    <h1 class="mt-1 mb-4 header center">Login</h1>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <div class="d-felx justify-content-between w-100">
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-outline-primary" href="/register">Create account</a>
      </div>
    </form>
  </div>
</div>
